/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  padding: 0px 12px;
}
img{
	max-width: 100%;
	height: auto;
}
.container{
	font-family: 'Noto Sans TC', sans-serif;
	max-width: 1440px;
	margin: 0 auto;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 67px 0px;
	h5{
		font-weight: bold;
	}
	.menu_btn{
		display: none;
	}
}
.menu{
	display: flex;
	justify-content: flex-end;
	gap: 36px;
	a{
		align-items: center;
		text-decoration: none;
		font-size: 18px;
		font-weight: 500;
		padding: 12px 24px;
	}
}
.title{
	margin-bottom: 60px;
	h1{
		font-size: 64px;
		font-weight:bold;
	}
	p{
		color: #828282;
	}
}
.project{
	max-width: 80%;
	margin: 0 auto;
	h4{
		font-size: 24px;
		font-weight: bold;
		padding-top: 12px;
		margin-bottom: 72px;
	}
	img{
		border: 1px solid #dddddd;
		border-radius: 8px;
		max-width: 100%;
	}
}
.content{
	max-width: 80%;
	margin: 0 auto;
	h2{
		font-weight:bold;
	}
	h3{
		text-align: center;
		font-weight: bold;
	}
	iframe{
		margin-bottom: 80px;
	}
	img{
		max-width: 100%;
	}
	.quote{
		padding: 100px;
	}
}
.intro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	h2{
		font-weight: bold;
	}
	img{
		max-width: 100%;
	}
	.right{
		max-width: 40%;
		display: flex;
		flex-direction: column;
	
		.profile{
			text-align: center;
		}
	}
}
.info{
	max-width: 60%;
	display: flex;
	align-items: center;
	padding: 12px;
	gap:24px;
	a{
		color: black;
		text-decoration: none;
	}
	svg{
		max-width: 8%;
	}
}

@media (max-width:768px){
	.intro{
		flex-direction: column-reverse;
	}
	.menu{
		z-index: 10;
		display: none;
	}
	.menu_btn{
		z-index: 100;
		display: flex;
	}

}
